body {
  background-color: lightblue;
}

h1 {
  font-family: "Segoe Print";
  color: deeppink;
  font-size: 100px;
  text-align: center;
}

p {
  font-family: "Arial Black";
  font-size: 30px;
  text-align: center;
}
