body {
  background-color: lightblue;
  background-attachment: fixed;
}

h1 {
  color: deeppink;
  font-family: "Segoe Print";
  font-size: 100px;
  text-align: center;
}

p {
  font-family: "Arial Black";
  font-size: 30px;
  text-align: center;
}

a {
  font-size: 30px;
  text-align: center;
}

img {
   text-align: center;
}
